<footer class="site-footer">

  <div class="wrapper">

<!--     <h2 class="footer-heading">{{ site.schoolname }}</h2> -->
         <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
 
<!-- {{ site.address | newline_to_br  }} -->
        <div class="site-footer-text">
          <strong>Did you find this material useful?</strong>
          <br/>
          <i class="fas fa-envelope"></i> Please reach out to us -- we'd love to hear about it!
          <br/>
          <i class="fas fa-link"></i> And please do reference our course site!
        </div>
        
      </div>

      <div class="footer-col  footer-col-2">
       <ul class="social-media-list">
     

          {% if site.schoolurl %}
  <li>
    <a href="{{site.schoolurl}}">
      <i class="fas fa-globe" style="color:gray"></i> {{site.schoolurl |  remove: "https://" | remove: "http://" | remove: "www." }}
    </a>
  </li>
{% endif %}



       
        </ul>
      </div>
    </div>

  </div>

</footer>
