---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1>

    {% include announcements.html %}
    <br />
    
    {{ content }}
    
    <div class="profile-pic-gallary ">
        <h2>Instructors</h2>
        {% for ins in site.data.people.instructors %}
        <div class="image--cover-container">
            <img src="{{ins.profile_pic | prepend: site.baseurl }}" class="image--cover">
            {% if ins.webpage %}
            <p><a href="{{ ins.webpage }}">{{ins.name}}</a></p>
            {% else %}
            <p>{{ins.name}}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    
    <br style="clear:both">
    <div>
        <h2>Acknowledgments</h2>
        <p>
            There are a number of people we would like to acknowledge for helpful discussions and insights throughout the development of this offering of the course:
            {% for person in site.data.people.feedback %}
                {% if person.webpage %}
                <span><a href="{{ person.webpage }}">{{person.name}}</a>{% unless forloop.last %}, {% endunless %}</span>
                {% else %}
                <span>{{person.name}}{% unless forloop.last %}, {% endunless %}</span>
                {% endif %}                
            {% endfor %}
        </p>        
        <p>
            This course draws on: 
            {% for course in site.data.people.draws %}
                {% if course.webpage %}
                <span><a href="{{ course.webpage }}">{{course.name}}</a>{% unless forloop.last %}, {% endunless %}</span>
                {% else %}
                <span>{{course.name}}{% unless forloop.last %}, {% endunless %}</span>
                {% endif %}                
            {% endfor %}
        </p>
    </div>
    
    {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
    <h2>Previous Offerings</h2>
    <ul class="previous-offerings">
    {% for offer in site.data.previous_offering.offerings %}
    <li><a href="{{ offer.url }}">{{offer.title}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    
</div>
